version: '3.9'

services:
  backend:
    container_name: backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    # command: gunicorn --bind 0.0.0.0:8000 backend:app
    restart: always
    volumes:
      - static_volume:/vol/web/static
      - media_volume:/vol/web/media
    # - ./nginx/config:/etc/certs
    expose:
      - 8000
    env_file:
      - ./.env.prod
    depends_on:
      - db
  
  db:
    image: postgres:12-alpine
    restart: always
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data/
    env_file:
      - ./.env.prod.db
  
  nginx:
    container_name: ng
    # build: ./nginx
    image: nginx:1.21-alpine
    restart: always
    volumes:
      - static_volume:/vol/web/static
      - media_volume:/vol/web/media
      - ./nginx/config:/etc/nginx/conf.d/:ro
      - ./certbot/www:/var/www/certbot/:ro
    command: cp ./certbot/conf/live/moodalarm.com/* /etc/nginx/ssl/live/moodalarm.com/
    ports:
      - 443:443
      - 80:80
    depends_on:
      - backend
  certbot:
    image: certbot/certbot:latest
    volumes:
      - ./certbot/www/:/var/www/certbot/:rw
volumes:
  postgres_data_prod:
  static_volume:
  media_volume: