version: '3.9'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: gunicorn --bind 0.0.0.0:8000 backend:app
    container_name: docker_testing
    restart: always
    volumes:
      - static_volume:/vol/web/static
      - media_volume:/vol/web/media
    expose:
      - 8000
    env_file:
      - ./.env.prod
    depends_on:
      - db
  
  db:
    image: postgres:12-alpine
    restart: always
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data/
    env_file:
      - ./.env.prod.db
  
  nginx:
    build: ./nginx
    restart: always
    volumes:
      - static_volume:/vol/web/static
      - media_volume:/vol/web/media

    ports:
      - 1337:80
    depends_on:
      - backend

volumes:
  postgres_data_prod:
  static_volume:
  media_volume: